/*
 global
 */


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5
}

body {
    -webkit-touch-callout: none;
    font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin: 17 18 0 18;
    line-height: inherit
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 16px
}

#title_section {
    padding: 0 0 0 0;
    -webkit-user-select: text;
}
#title {
    padding: 0 0 0 0;
}
#subtitle {
    padding: 10 0 0 0;
    -webkit-user-select: text;
}

/* 设置超链接颜色和*/

a {
    text-decoration: none
}
a:link {
    text-decoration:none;
}

a:visited {
    text-decoration:none;
}

a:hover {
  text-decoration:none;
}

a:active {
  text-decoration:none;
}


#body_section {
    overflow-x: hidden;
    -webkit-user-select: text;
}

#video {
    margin: 0 0 10 0;
}

/* 分割线颜色和宽度 */
.line-class {
    padding: 0 18 0 18 ;
    size: 0.5;
}

.lazy {
    display: none;
}


.imgDiv{
    
    margin:10 auto;
}



.customProgress{

 height: 1px;
 margin-bottom: 0px;
 overflow: hidden;
 border-radius: 0px;
}

.customProgressBar{
    background-color: #90d7ec;
}
